### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
dist/
dist-edge/
dist-opera/

node_modules/
*.zip
.DS_Store
