body {
	width: 300px;
	.panel {
		margin: 0;
		border: none;
		.panel-heading {
			h5 {
				small {
					color: inherit;
					margin-right: -15px;
					float: right;
					margin-top: 4px;
				}
			}
		}
		.panel-body {
			&.playing {
				background: url('imgs/equalizer.gif') -24px 22px no-repeat;
				background-size: 113%;
			}
			&:not(.playing) {
				background-image: none;
			}
            input.search {
                margin-bottom: 5px;
            }
			input[type=range] {
                &:before {
                  content: attr(data-volume);
                  position: absolute;
                  right: -29px;
                  color: #337ab7;
                  margin-top: -3px;
                }
                margin-bottom: 0;
                -webkit-appearance: none;
                position: relative;
                width: 89%!important;
				&:focus {
					outline: none;
				}
              &::-webkit-slider-runnable-track {
                cursor: pointer;
                width: 90%;
              }
              &::-webkit-slider-thumb {
                background: #337ab7;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                -webkit-appearance: none;
                cursor: pointer;
              }
			}
		}
		.list-group {
			overflow-y: scroll;
			overflow-x: hidden;
			height: 287px;
			a:not(.active) {
				background-color: #f5f5f5;
			}
		}
	}
}