@keyframes heart {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

$primary: #364ae4;
$secondary: #c90187;

body {
  width: 300px;
  .panel {
    margin: 0;
    border: none;
    .panel-heading {
      display: flex;
      border: 0;
      background: linear-gradient(to bottom right, $primary, $secondary);

      button.play_pause {
        color: #fff;
        background-color: $secondary;
        border-color: $secondary;
        i {
          font-size: 23px;

          &.rotate {
            animation: rotate ease-in-out 1s infinite;
          }
        }
      }
      h5 {
        display: flex;
        font-weight: 400;
        flex-direction: column;
        margin: 4px 0;

        span.radio-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }
        small {
          color: inherit;
          margin-top: 2px;
          opacity: 0.5;
        }
      }
    }
    .panel-body {
      background: linear-gradient(to top right, $primary, $secondary);
      @supports (background-blend-mode: multiply) {
        &.playing {
          position: relative;

          background: linear-gradient(to top right, $primary, $secondary),
            url(imgs/equalizer.gif) -24px 12px no-repeat;
          background-size: 113%;
          background-blend-mode: multiply;
        }
      }
      ip-slider {
        margin: 1em 0;
        width: 100%;
        --primary: #{$primary};
        --secondary: #{$secondary};
      }
      .input-group {
        margin-bottom: 5px;
        .input-group-btn {
          button {
            &.btn-danger {
              padding: 6px 8px;
            }
            .fa {
              padding: 3px 0;
            }
          }
        }
      }
    }
    .btn-region {
      button.btn-primary {
        border-radius: 0;
        background-color: $primary;
        border-color: darken($color: $primary, $amount: 2);

        &.active {
          background-color: darken($color: $primary, $amount: 2);
        }

        i.material-icons {
          font-size: 20px;
        }
        // color: $secondary;
      }
    }
    .list-group {
      overflow-y: auto;
      overflow-x: hidden;
      &.empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary;
        padding: 1rem;
        h2,
        h3 {
          font-weight: 300;
          text-align: center;
        }
      }
      // background: linear-gradient(to bottom right, $primary, $secondary);
      &:not(#radio-feedbacks) {
        height: 287px;
      }
      margin-bottom: 0;
      a {
        transition: all 500ms ease-in-out;
        &:hover {
          .favorite {
            opacity: 1;
            animation: heart ease-in-out 500ms;
          }
        }
        .favorite {
          opacity: 0;
          color: $secondary;
          float: right;
        }
        &:not(.active) {
          background-color: transparent;
        }
        &.active {
          background-color: $primary;
        }
      }
    }
  }
}
