body {
  width: 300px; }
  body .panel {
    margin: 0;
    border: none; }
    body .panel .panel-heading h5 small {
      color: inherit;
      margin-right: -15px;
      float: right;
      margin-top: 4px; }
    body .panel .panel-body.playing {
      background-image: url("imgs/equalizer.gif");
      background-position: -24px -12px;
      background-size: 113%; }
    body .panel .panel-body:not(.playing) {
      background-image: none; }
    body .panel .list-group {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 287px; }
      body .panel .list-group a:not(.active) {
        background-color: #f5f5f5; }
