<h1 class="title">Descopera cea mai buna <br> <span>Muzica!</span></h1>
<h2>Cu ajutorul aplicatiei noastre poti asculta <br> toate statiile Radio din Republica Moldova si Romania <span>absolut Gratuit</span>!</h2>
<h3>Fa click pe un post radio din lista din stanga, si asculta cu placere!</h3>
<br>
<p ng-if="main.isChrome && !main.appInstalled">
  <img src="/images/chrome-webstore@2x.png" style="cursor: pointer" ng-click="main.installApp()" alt="Radio online pentru chrome" height="60"> Instaleaza aplicatia pentru Chrome Acum!
</p>
<!--<div class="scroller">
  <a href="#footer" ng-click="main.gotToFooter($event)">
    <span><span class="scroll-down"></span></span> SCROLL FOR MORE
  </a>
</div>-->